[Unit]
Description=Terminate Mycroft splash boot Screen
After=mycroft-splash-start.service
After=mycroft-messagebus.service

[Service]
Type=oneshot
ExecStart=/usr/bin/psplash-write QUIT
TimeoutSec=20

[Install]
WantedBy=multi-user.target
