[Unit]
Description=Starts Mycroft splash boot screen
Wants=dev-dri-card0.device
After=dev-dri-card0.device
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/psplash -n

[Install]
WantedBy=sysinit.target
