[Unit]
Description=MycroftOS WiFi Setup - webbased configurator
After=wpa_supplicant@ap0.service
Wants=wpa_supplicant@ap0.service
Before=network.target
Wants=network.target

[Service]
Type=idle
WorkingDirectory=/opt/mycroft/wifisetup
ExecStart=/usr/bin/python3 app.py > /dev/null 2>&1

[Install]
WantedBy=wpa_supplicant@ap0.service
