[Unit]
Description=OpenVoiceOS PHAL Admin Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
Wants=ovos_messagebus.service
After=ovos_messagebus.service

[Container]
ContainerName=ovos_phal_admin
Image=docker.io/smartgic/ovos-phal-admin:alpha
AutoUpdate=registry
LogDriver=journald
HostName=ovos_phal_admin
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
AddDevice=/dev/gpiomem
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=%h/ovos/tmp:/tmp
Volume=/sys:/sys:ro
Volume=/dev:/dev:ro

[Service]
TimeoutStartSec=900
Restart=always
