[Unit]
Description=OpenVoiceOS CLI
After=local-fs.target
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=ovos_cli
Image=docker.io/smartgic/ovos-cli:alpha
AutoUpdate=registry
LogDriver=journald
HostName=ovos_cli
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=/dev/shm:/tmp
Volume=/var/log/ovos:/var/log/mycroft

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
