image esp.vfat {
  vfat {
    files = {
      "cmdline.txt",
      "config.txt",
      "uefi/RPI_EFI.fd",
      "uefi/bcm2711-rpi-400.dtb",
      "uefi/bcm2711-rpi-4-b.dtb",
      "uefi/bcm2711-rpi-cm4.dtb",
      "uefi/bcm2711-rpi-cm4-io.dtb",
      "uefi/bcm2711-rpi-cm4s.dtb",
      "uefi/overlays",
      "rpi-firmware/fixup4x.dat",
      "rpi-firmware/start4x.elf",
      "rpi-eeprom/pieeprom.sig",
      "rpi-eeprom/pieeprom.upd"
    }
    file EFI {
      image = "efi-part/EFI"
    }
  }
  size = 256M
}

#image xbootldr.vfat {
#  vfat {
#    file loader {
#      image = "xbootldr-part/loader"
#    }
#  }
#  size = 128M
#}

image overlayfs.ext4 {
  name = "overlayfs"
  ext4 {
    use-mke2fs = "true"
  }
  size = 256M
}

image disk.img {
  hdimage {
    partition-table-type = "gpt"
  }

  partition esp {
    align = 1M
    partition-uuid = 9262aee5-2d23-4e09-baac-280591e2e834
    partition-type-uuid = c12a7328-f81f-11d2-ba4b-00a0c93ec93b
    bootable = "true"
    image = "esp.vfat"
  }

#  partition boot {
#    partition-type-uuid = bc13c2ff-59e6-4262-a352-b275fd6f7172
#    image = "xbootldr.vfat"
#  }

  partition rootfs-1 {
    partition-uuid = c0932a41-44cf-463b-8152-d43188553ed4
    partition-type-uuid = b921b045-1df0-41c3-af44-4c6f280d3fae
    image = "rootfs.erofs"
    size = 256M
  }

  partition overlayfs {
    partition-uuid = f1326040-5236-40eb-b683-aaa100a9afcf
    partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
    image = "overlayfs.ext4"
  }

  partition homefs {
    partition-uuid = ba3c2691-cce9-4963-b773-42c440c235ec
    partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
    image = "homefs.ext4"
  }
}
