[Unit]
Description=OpenVoiceOS overlay partition
DefaultDependencies=no
Before=umount.target local-fs.target
Conflicts=umount.target
After=systemd-fsck@dev-disk-by\x2dpartlabel-overlay\x2dbind.service
Wants=systemd-fsck@dev-disk-by\x2dpartlabel-overlay\x2dbind.service

[Mount]
What=/dev/disk/by-partlabel/overlayfs
Where=/mnt/overlay
Type=ext4

[Install]
WantedBy=local-fs.target
