[Unit]
Description=OVOS First boot run script
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
Before=sysinit.target shutdown.target
ConditionPathIsReadWrite=/etc
ConditionPathExists=/etc/firstboot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ovos-config

[Install]
WantedBy=sysinit.target
