SUBSYSTEM!="sound", GOTO="vocalfusion_end"
ACTION!="change", GOTO="vocalfusion_end"
KERNEL!="card*", GOTO="vocalfusion_end"

# PulseAudio profile sets
ATTR{id}=="sj201",ENV{PULSE_PROFILE_SET}="sj201.conf"

# ALSA profile sets
ATTR{id}=="sj201",ENV{ACP_PROFILE_SET}="sj201.conf"

LABEL="vocalfusion_end"
