[Unit]
DefaultDependencies=no
After=nss-lookup.target
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=sh -c 'while ! ping -c 1 docker.io; do sleep 1; done'

[Install]
WantedBy=network-online.target
