[Unit]
Description=Update Mycroft splash boot screen to 60%
Wants=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service
DefaultDependencies=no

[Service]
ExecStart=-/usr/bin/psplash-write "PROGRESS 60" 

[Install]
WantedBy=multi-user.target
