[Unit]
Description=OpenVoiceOS swap
DefaultDependencies=no
RequiresMountsFor=/home /etc
After=systemd-growfs@mnt-home.service
Before=mnt-data-swapfile.swap

[Service]
Type=oneshot
ExecStart=/usr/libexec/ovos-swapfile

[Install]
WantedBy=swap.target
