[Unit]
Description=Update OVOS splash boot screen to 60%
Before=mycroft-gui.service
DefaultDependencies=no

[Service]
ExecStart=-/usr/bin/psplash-write "PROGRESS 60" 

[Install]
WantedBy=multi-user.target
