[Unit]
Description=OVOS bus server
Before=multi-user.target
After=network.target

[Service]
Type=simple
StandardOutput=null
StandardError=null
ExecStart=/usr/bin/ovos-bus-server
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
RequiredBy=network.target
