[Unit]
Description=OVOS bus server
Before=multi-user.target
After=network.target

[Service]
Type=simple
StandardOutput=null
StandardError=null
Environment=OVOS_BUS_MAX_MSG_SIZE=100
ExecStart=/usr/local/bin/ovos_messagebus
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
RequiredBy=network.target
