[Unit]
Description=OVOS ZRAM ramdisk
DefaultDependencies=no
Requires=zram-ramdisk.service
After=zram-ramdisk.service
Before=umount.target
Conflicts=umount.target

[Mount]
What=/dev/zram1
Where=/ramdisk
Type=ext4
Options=rw,nobarrier,strictatime,nosuid,nodev

[Install]
WantedBy=local-fs.target
