[Unit]
Description=OVOS ZRAM ramdisk
DefaultDependencies=no
Before=ramdisk.mount
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/ovos-zram -t fs -m ramdisk -s 20M
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=ovos-zram.target
