CONFIG_KERNEL_LZ4=y
CONFIG_CMDLINE=""
CONFIG_PANIC_TIMEOUT=5

CONFIG_MODULE_COMPRESS_NONE=y

CONFIG_ZRAM=y
CONFIG_ZSMALLOC=y

CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y

CONFIG_MISC_FILESYSTEMS=y
CONFIG_BLOCK=y
CONFIG_EXT4_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_BTRFS_FS=m

CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_MSDOS_PARTITION=y

# CONFIG_LOGO is not set
# CONFIG_DEBUG_STACK_USAGE is not set
