[Unit]
Description=Broadcom BCM4343* bluetooth HCI
Before=bluetooth.service
Before=btspeaker.service
Requires=dev-serial1.device
After=dev-serial1.device
ConditionFileNotEmpty=/proc/device-tree/soc/gpio@7e200000/bt_pins/brcm,pins

[Service]
Type=forking
ExecStart=/usr/bin/btuart

[Install]
WantedBy=multi-user.target
