[Unit]
Description=OpenVoiceOS wifi-connect service
After=NetworkManager.service
ConditionPathIsReadWrite=/etc
ConditionPathExists=/etc/wifi-connect

[Service]
Type=simple
ExecStart=/usr/local/sbin/start-wifi-connect

[Install]
WantedBy=multi-user.target
