[Unit]
Description=Growdisk service to auto expand the rootfs partition
Conflicts=shutdown.target
After=local-fs.target
Wants=local-fs.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/growdisk

[Install]
WantedBy=sysinit.target
