[Unit]
Description=Mycroft Audio
PartOf=mycroft.service
After=mycroft.service
After=mycroft-messagebus.service
After=pulseaudio.service

[Service]
Type=notify
ExecStart=/usr/libexec/mycroft-systemd-audio
StandardOutput=append:/var/log/mycroft/audio.log
StandardError=append:/var/log/mycroft/audio.error.log
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#StartLimitAction=reboot-force
#WatchdogSec=30s

[Install]
WantedBy=mycroft.service

