[Unit]
Description=Mycroft GUI
After=mycroft-enclosure-gui.service
Requires=mycroft-enclosure-gui.service

[Service]
ExecStartPre=-/usr/bin/kbuildsycoca5
ExecStart=ovos-shell --maximize
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=gui.target
