[Unit]
Description=Mycroft PHAL
PartOf=mycroft.service
After=mycroft.service
After=mycroft-messagebus.service
After=pulseaudio.service

[Service]
Type=notify
ExecStart=/usr/libexec/mycroft-systemd-phal
StandardOutput=null
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#StartLimitAction=reboot-force
#WatchdogSec=30s

[Install]
WantedBy=mycroft.service
