[Unit]
Description=Starts OVOS splash boot screen
Requires=dev-fb0.device
After=dev-fb0.device
DefaultDependencies=no
RequiresMountsFor=/run

[Service]
Type=notify
ExecStart=/usr/bin/psplash
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=sysinit.target
