[Unit]
Description=Starts OVOS splash boot screen
Requires=sys-devices-platform-gpu-graphics-fb0.device
After=sys-devices-platform-gpu-graphics-fb0.device
DefaultDependencies=no
RequiresMountsFor=/run

[Service]
Type=notify
ExecStart=/usr/bin/psplash
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=sysinit.target
