[Unit]
Description=Start psplash-systemd progress communication helper
DefaultDependencies=no
After=ovos-splash-start.service
Requires=ovos-splash-start.service
RequiresMountsFor=/run

[Service]
ExecStart=/usr/bin/psplash-systemd
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
