[Unit]
Description=OpenVoiceOS Core Service
After=local-fs.target
Wants=pipewire.service
After=pipewire.service
Wants=ovos_messagebus.service
After=ovos_messagebus.service
Wants=ovos_phal.service
After=ovos_phal.service

[Container]
ContainerName=ovos_core
Image=docker.io/smartgic/ovos-core:alpha
AutoUpdate=registry
LogDriver=journald
HostName=ovos_core
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentHost=true
AddDevice=/dev/snd
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=%h/ovos/tmp:/tmp/mycroft
Volume=%t/pipewire-0:/run/user/1000/pipewire-0:ro
Volume=ovos_nltk:/home/ovos/nltk_data
Volume=%h/ovos/share:/home/ovos/.local/share/mycroft

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
