[Unit]
Description=OpenVoiceOS Dinkum Listener Service
After=local-fs.target
Wants=pipewire.service
After=pipewire.service
Wants=ovos_messagebus.service
After=ovos_messagebus.service
Wants=ovos_phal.service
After=ovos_phal.service

[Container]
ContainerName=ovos_listener
Image=docker.io/smartgic/ovos-listener-dinkum:alpha
AutoUpdate=registry
LogDriver=journald
HostName=ovos_listener
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
Environment=XDG_RUNTIME_DIR=%t
AddDevice=/dev/snd
Volume=%h/ovos/config:/home/ovos/.config/mycroft:ro
Volume=/dev/shm:/tmp
Volume=%t/pipewire-0:/run/user/1000/pipewire-0:ro
Volume=ovos_listener_records:/home/ovos/.local/share/mycroft/listener
Volume=ovos_models:/home/ovos/.local/share/precise-lite
Volume=ovos_vosk:/home/ovos/.local/share/vosk

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
