[Unit]
Description=OpenVoiceOS Messagebus Service
After=local-fs.target

[Container]
ContainerName=ovos_messagebus
Image=docker.io/smartgic/ovos-messagebus:alpha
AutoUpdate=registry
LogDriver=journald
HostName=ovos_messagebus
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
Volume=%h/ovos/config:/home/ovos/.config/mycroft:ro
Volume=/dev/shm:/tmp

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
