# Rules for USBmount -*- conf -*-

# Do not auto mount our own system partitions
ENV{ID_PART_ENTRY_NAME}=="boot", GOTO="END"
ENV{ID_PART_ENTRY_UUID}=="9262aee5-2d23-4e09-baac-280591e2e834", GOTO="END"
ENV{ID_PART_ENTRY_NAME}=="rootfs", GOTO="END"
ENV{ID_PART_ENTRY_UUID}=="c0932a41-44cf-463b-8152-d43188553ed4", GOTO="END"
ENV{ID_PART_ENTRY_NAME}=="overlayfs", GOTO="END"
ENV{ID_PART_ENTRY_UUID}=="f1326040-5236-40eb-b683-aaa100a9afcf", GOTO="END"

KERNEL=="sd*", DRIVERS=="sbp2",		ACTION=="add",		RUN+="/usr/share/usbmount/usbmount add"
KERNEL=="sd*", SUBSYSTEM=="block",	ACTION=="add",		RUN+="/usr/share/usbmount/usbmount add"
KERNEL=="ub*", SUBSYSTEM=="block",	ACTION=="add",		RUN+="/usr/share/usbmount/usbmount add"
KERNEL=="mmcblk*", SUBSYSTEM=="block",	ACTION=="add",		RUN+="/usr/share/usbmount/usbmount add"
KERNEL=="sd*",				ACTION=="remove",	RUN+="/usr/share/usbmount/usbmount remove"
KERNEL=="ub*",				ACTION=="remove",	RUN+="/usr/share/usbmount/usbmount remove"
KERNEL=="mmcblk*",			ACTION=="remove",	RUN+="/usr/share/usbmount/usbmount remove"

LABEL="END"
