[Unit]
Description=OpenVoiceOS Messagebus Service
After=local-fs.target
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=ovos-messagebus
Image=ovos-messagebus.image
Pull=never
AutoUpdate=registry
LogDriver=journald
HostName=ovos-messagebus
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
Volume=%h/ovos/config:/home/ovos/.config/mycroft:ro
Volume=ovos_local_state:/home/ovos/.local/state/mycroft
Volume=%h/ovos/tmp:/tmp

[Service]
TimeoutStartSec=900
Restart=always
