[Unit]
Description=OpenVoiceOS GUI Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
Wants=pipewire.service
After=pipewire.service
Wants=ovos_messagebus.service
After=ovos_messagebus.service
Wants=ovos_phal.service
After=ovos_phal.service
Wants=ovos_gui_websocket.service
After=ovos_gui_websocker.service

[Container]
ContainerName=ovos_gui
Image=docker.io/smartgic/ovos-gui-shell:alpha
AutoUpdate=registry
LogDriver=journald
HostName=ovos_gui
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
AddDevice=/dev/snd
AddDevice=/dev/dri
AddDevice=/dev/vchiq
AddDevice=/dev/input
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=/dev/shm:/tmp
Volume=%t/pipewire-0:/run/user/1000/pipewire-0:ro
Volume=%t/bus:/run/user/1000/bus:ro
Volume=%h/ovos/share:/home/ovos/.local/share/mycroft
Volume=ovos_gui_files:/home/ovos/.cache/gui_files
Volume=/run/udev/data:/run/udev/data:ro

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
