[Unit]
Description=OpenVoiceOS Core Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
Wants=pipewire.service
After=pipewire.service
#Wants=ovos-bus-server.service
#After=ovos-bus-server.service
Wants=ovos-messagebus.service
After=ovos-messagebus.service
Wants=ovos-phal.service
After=ovos-phal.service

[Container]
ContainerName=ovos-core
Image=docker.io/smartgic/ovos-core:alpha
Pull=never
AutoUpdate=registry
LogDriver=journald
HostName=ovos-core
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
SecurityLabelDisable=true
EnvironmentFile=%h/.config/containers/env
AddDevice=/dev/snd
Volume=%h/ovos/config:/home/ovos/.config/mycroft:z
Volume=%h/ovos/tmp:/tmp:z
Volume=%t/pipewire-0:/run/user/1000/pipewire-0:ro
Volume=ovos_local_state:/home/ovos/.local/state/mycroft:z
Volume=ovos_nltk:/home/ovos/nltk_data:z
Volume=ovos_venv_core:/home/ovos/.venv
Volume=%h/ovos/share:/home/ovos/.local/share/mycroft:z

[Service]
TimeoutStartSec=900
Restart=always
