[Unit]
Description=OpenVoiceOS PHAL Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
Wants=pipewire.service
After=pipewire.service
Wants=ovos-messagebus.service
After=ovos-messagebus.service

[Container]
ContainerName=ovos-phal
Image=ovos-phal.image
Pull=never
AutoUpdate=registry
LogDriver=journald
HostName=ovos-phal
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
AddDevice=/dev/snd
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=ovos_local_state:/home/ovos/.local/state/mycroft
Volume=%h/ovos/tmp:/tmp
Volume=%t/pipewire-0:/run/user/1000/pipewire-0:ro
Volume=ovos_venv_phal:/home/ovos/.venv

[Service]
TimeoutStartSec=900
Restart=always
