[Unit]
Description=OpenVoiceOS GUI Websocket Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
Wants=ovos-bus-server.service
After=ovos-bus-server.service

[Container]
ContainerName=ovos-gui-websocket
Image=docker.io/smartgic/ovos-gui-websocket:alpha
Notify=healthy
AutoUpdate=registry
LogDriver=journald
HostName=ovos-gui-websocket
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
Volume=%h/ovos/config:/home/ovos/.config/mycroft:ro
Volume=%h/ovos/tmp:/tmp
Volume=ovos_gui_files:/home/ovos/.cache/ovos_gui_file_server

[Service]
TimeoutStartSec=900
Restart=always
