[Unit]
Description=OpenVoiceOS CLI
After=local-fs.target
After=network-online.target
Wants=network-online.target
After=ovos-bus-server.service
Wants=ovos-bus-server.service
#Wants=ovos-messagebus.service
#After=ovos-messagebus.service

[Container]
ContainerName=ovos-cli
Image=docker.io/smartgic/ovos-cli:0.1.0
#Pull=never
AutoUpdate=registry
LogDriver=journald
HostName=ovos-cli
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
Volume=%h/.config/mycroft:/home/ovos/.config/mycroft
Volume=%h/.local/state/mycroft:/home/ovos/.local/state
Volume=%h/.local/share/mycroft:/home/ovos/.local/share/mycroft
Volume=%h/.cache:/home/ovos/.cache
Volume=%h/ovos/tmp:/tmp:z,U
Volume=ovos_venv_cli:/home/ovos/.venv:z,U

[Service]
TimeoutStartSec=900
Restart=always
