[Unit]
Description=OpenVoiceOS Dinkum Listener Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
After=pipewire.service
Wants=pipewire.service
After=ovos-bus-server.service
Wants=ovos-bus-server.service
#Wants=ovos-messagebus.service
#After=ovos-messagebus.service
After=ovos-phal.service
Wants=ovos-phal.service

[Container]
ContainerName=ovos-listener-dinkum
Image=docker.io/smartgic/ovos-listener-dinkum:0.0.8a
Pull=never
#Notify=healthy
AutoUpdate=registry
LogDriver=journald
HostName=ovos-listener-dinkum
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
AddDevice=/dev/snd
Volume=%h/.config/mycroft:/home/ovos/.config/mycroft
Volume=%h/.local/state/mycroft:/home/ovos/.local/state/mycroft
Volume=%h/.local/share/mycroft:/home/ovos/.local/share/mycroft
Volume=%h/.local/share/precise-lite:/home/ovos/.local/share/precise-lite
Volume=%h/.local/share/vosk:/home/ovos/.local/share/vosk
Volume=%h/.cache:/home/ovos/.cache
Volume=%h/ovos/tmp:/tmp:z,U
Volume=%t:/run/user/1000
Volume=ovos_venv_listener:/home/ovos/.venv:z,U

[Service]
TimeoutStartSec=900
Restart=always
