[Unit]
Description=OpenVoiceOS GUI Websocket Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
After=ovos-bus-server.service
Wants=ovos-bus-server.service
#Wants=ovos-messagebus.service
#After=ovos-messagebus.service

[Container]
ContainerName=ovos-gui-websocket
Image=docker.io/smartgic/ovos-gui-websocket:0.0.8a
Pull=never
#Notify=healthy
AutoUpdate=registry
LogDriver=journald
HostName=ovos-gui-websocket
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
Volume=%h/.config/mycroft:/home/ovos/.config/mycroft
Volume=%h/.local/state/mycroft:/home/ovos/.local/state/mycroft
Volume=%h/.local/share/mycroft:/home/ovos/.local/share/mycroft
Volume=%h/.cache:/home/ovos/.cache
Volume=%h/ovos/tmp:/tmp:z,U
Volume=ovos_venv_guibus:/home/ovos/.venv:z,U

[Service]
TimeoutStartSec=900
Restart=always
