[Unit]
Description=OpenVoiceOS CLI
After=local-fs.target
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=ovos-cli
Image=docker.io/smartgic/ovos-cli:alpha
Pull=never
AutoUpdate=registry
LogDriver=journald
HostName=ovos-cli
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=%h/ovos/tmp:/tmp
Volume=ovos_local_state:/home/ovos/.local/state/mycroft

[Service]
TimeoutStartSec=900
Restart=always
