[Unit]
Description=OpenVoiceOS GUI Service
#After=local-fs.target
#After=
#After=network-online.target
#Wants=network-online.target
#Wants=pipewire.service
#After=pipewire.service
#Wants=ovos-bus-server.service
#After=ovos-bus-server.service
#Wants=ovos-messagebus.service
#After=ovos-messagebus.service
#Wants=ovos-gui-websocket.service
#After=ovos-gui-websocket.service

[Container]
ContainerName=ovos-gui-shell
Image=docker.io/smartgic/ovos-gui-shell:0.0.8a
Pull=never
AutoUpdate=registry
LogDriver=journald
HostName=ovos-gui-shell
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
AddDevice=-/dev/snd
AddDevice=-/dev/dri
AddDevice=-/dev/input
Volume=%h/.config/mycroft:/home/ovos/.config/mycroft
Volume=%h/.local/state/mycroft:/home/ovos/.local/state/mycroft
Volume=%h/.local/share/mycroft:/home/ovos/.local/share/mycroft
Volume=%h/.cache:/home/ovos/.cache
Volume=%h/ovos/tmp:/tmp:z,U
Volume=%t:/run/user/1000
Volume=/run/dbus:/run/dbus
Volume=/run/udev:/run/udev:ro

[Service]
TimeoutStartSec=900
Restart=always
