[Unit]
Description=OpenVoiceOS Audio Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
Wants=pipewire.service
After=pipewire.service
Wants=ovos-bus-server.service
After=ovos-bus-server.service
Wants=ovos-phal.service
After=ovos-phal.service

[Container]
ContainerName=ovos-audio
Image=docker.io/smartgic/ovos-audio:alpha
Notify=healthy
AutoUpdate=registry
LogDriver=journald
HostName=ovos-audio
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
AddDevice=/dev/snd
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=%h/ovos/tmp:/tmp
Volume=%t/pipewire-0:/run/user/1000/pipewire-0:ro
Volume=%t/bus:/run/user/1000/bus:ro
Volume=ovos_tts_cache:/home/ovos/.cache/mycroft
Volume=ovos_venv_audio:/home/ovos/.venv

[Service]
TimeoutStartSec=900
Restart=always
