[Unit]
Description=OpenVoiceOS PHAL Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
After=pipewire.service
Wants=pipewire.service
After=ovos-bus-server.service
Wants=ovos-bus-server.service
#Wants=ovos-messagebus.service
#After=ovos-messagebus.service

[Container]
ContainerName=ovos-phal
Image=docker.io/smartgic/ovos-phal:0.1.0
Pull=never
#Notify=healthy
AutoUpdate=registry
LogDriver=journald
HostName=ovos-phal
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
Unmask=all
SecurityLabelDisable=true
AddCapability=all
AddDevice=-/dev/snd
Volume=%h/.config/mycroft:/home/ovos/.config/mycroft
Volume=%h/.local/state/mycroft:/home/ovos/.local/state
Volume=%h/ovos/tmp:/tmp:z,U
Volume=/run/dbus:/run/dbus
Volume=/run/udev:/run/udev:ro
Volume=%t:/run/user/1000
Volume=ovos_venv_phal:/home/ovos/.venv:z,U
Volume=%h/.cache:/home/ovos/.cache

[Service]
TimeoutStartSec=900
Restart=always
