[Unit]
Description=OpenVoiceOS Core Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
After=pipewire.service
Wants=pipewire.service
After=ovos-bus-server.service
Wants=ovos-bus-server.service
#Wants=ovos-messagebus.service
#After=ovos-messagebus.service
After=ovos-phal.service
Wants=ovos-phal.service

[Container]
ContainerName=ovos-core
Image=docker.io/smartgic/ovos-core:0.0.8a
Pull=never
#Notify=healthy
AutoUpdate=registry
LogDriver=journald
HostName=ovos-core
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
Volume=%h/.config/mycroft:/home/ovos/.config/mycroft
Volume=%h/.local/state/mycroft:/home/ovos/.local/state/mycroft
Volume=%h/.local/share/mycroft:/home/ovos/.local/share/mycroft
Volume=%h/.cache:/home/ovos/.cache
Volume=%h/ovos/tmp:/tmp:z,U
Volume=%t:/run/user/1000
Volume=%h/nltk_data:/home/ovos/nltk_data
Volume=ovos_venv_core:/home/ovos/.venv:z,U

[Service]
TimeoutStartSec=900
Restart=always
