[Unit]
Description=OpenVoiceOS GUI Service
After=local-fs.target
After=network-online.target
Wants=network-online.target
Wants=pipewire.service
After=pipewire.service
#Wants=ovos-messagebus.service
#After=ovos-messagebus.service
#Wants=ovos-phal.service
#After=ovos-phal.service
#Wants=ovos-gui-websocket.service
#After=ovos-gui-websocket.service

[Container]
ContainerName=ovos-gui-shell
Image=ovos-gui-shell.image
Pull=never
AutoUpdate=registry
LogDriver=journald
HostName=ovos-gui-shell
Network=host
Timezone=local
UserNS=keep-id:uid=%U,gid=%G
EnvironmentFile=%h/.config/containers/env
AddDevice=/dev/snd
AddDevice=/dev/dri
AddDevice=/dev/input
Volume=%h/ovos/config:/home/ovos/.config/mycroft
Volume=%h/ovos/tmp:/tmp
Volume=%t/pipewire-0:/run/user/1000/pipewire-0:ro
Volume=%t/bus:/run/user/1000/bus:ro
Volume=%h/ovos/share:/home/ovos/.local/share/mycroft
Volume=ovos_gui_files:/home/ovos/.cache/gui_files
Volume=/run/udev/data:/run/udev/data:ro

[Service]
TimeoutStartSec=900
Restart=always
