[Unit]
Description=Seeed Voicecard service
After=alsa-restore.service
 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/start-seeed-voicecard.sh
User=root
 
[Install]
WantedBy=sysinit.target
