CONFIG_ACPI=ACPI

CONFIG_EFI=y
CONFIG_EFI_STUB=y

CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y

CONFIG_SYSFB_SIMPLEFB=y

CONFIG_DRM=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_SIMPLEDRM=y

CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y

CONFIG_VFAT_FS=m
CONFIG_EFIVAR_FS=m

CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_BALLOON=m
CONFIG_VIRTIO_INPUT=m
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=m
CONFIG_VIRTIO_VSOCKETS=m
CONFIG_VIRTIO_MMIO=y
CONFIG_SCSI_VIRTIO=y
CONFIG_HW_RANDOM_VIRTIO=y

CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_HWMON=y

CONFIG_DRM_VIRTIO_GPU=m

CONFIG_HYPERVISOR_GUEST=HYPERVISOR_GUEST
