CONFIG_EFI=y
CONFIG_EFI_STUB=y

CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y

CONFIG_SYSFB_SIMPLEFB=y

CONFIG_DRM=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_SIMPLEDRM=y

CONFIG_FB=y
CONFIG_FRAMEBUFFER_CONSOLE=y

CONFIG_VFAT_FS=m
CONFIG_EFIVAR_FS=m

CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_HWMON=y

# Disabling devices that are non commonly used for smart speaker/devices
# CONFIG_CDROM is not set
# CONFIG_VIDEO_IRS1125 is not set
# CONFIG_LEDS_TRIGGER_AUDIO is not set

CONFIG_NUMA_EMULATION=y

CONFIG_ARM64_VA_BITS_48=y
