[Unit]
Description=Mycroft Messagebus
PartOf=mycroft.service
After=mycroft.service

[Service]
User=mycroft
WorkingDirectory=/home/mycroft 
ExecStart=mycroft-messagebus
StandardOutput=file:/var/log/mycroft/bus.log
StandardError=file:/var/log/mycroft/bus.error.log
Restart=on-failure

[Install]
WantedBy=mycroft.service
