[Unit]
Description=OVOS Dashboard Service
After=network.target

[Service]
Environment=SIMPLELOGIN_USERNAME="OVOS"
Environment=SIMPLELOGIN_PASSWORD=%i
WorkingDirectory=/home/mycroft/ovos-dashboard
ExecStart=/home/mycroft/ovos-dashboard/.venv/bin/python /home/mycroft/ovos-dashboard/app.py --serve-in-foreground
Restart=always

[Install]
WantedBy=multi-user.target
