[Unit]
Description=Weston, a Wayland compositor, as a system service
Documentation=man:weston(1) man:weston.ini(5)
Documentation=http://wayland.freedesktop.org/

Wants=dbus.socket
After=dbus.socket
PartOf=mycroft.service
After=mycroft.service

ConditionPathExists=/dev/tty0

[Service]
Environment=XDG_RUNTIME_DIR=/tmp/weston
Environment=XDG_CONFIG_HOME=/etc/xdg/weston
ExecStartPre=-/usr/bin/mkdir /tmp/weston
ExecStart=/usr/bin/weston-launch

# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

UtmpIdentifier=tty7
UtmpMode=user

User=mycroft

# Fail to start if not controlling the tty.
StandardInput=tty-fail

[Install]
WantedBy=mycroft-gui.service
