[Unit]
Description=Shairport-sync
After=sound.target
Wants=network-online.target
After=network-online.target
After=pulseaudio.service
After=avahi-daemon.service

[Service]
ExecStart=/usr/bin/shairport-sync -c %h/.config/shairport-sync/shairport-sync.conf
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
